body {
  background-color: #light-gray;
  color: #000;
  font-size: 16px;
}

figcaption {
  font-size: .8em;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-size: 1.5em;
}

p {
  line-height: 160%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
}

/* Link Color Psuedo Classes */
nav a:link {
  color: white;
}
nav a:visited {
  color: black;
}
nav a:hover {
  color: blue;
}
nav a:active {
  color: #7887D3;
}

.author {
  font-size: .75em
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
